<ul>
  {{#each model as |contact|}}
    <li>
      {{contact.firstName}} {{contact.lastName}}
      <br>
      Pet Count: {{contact.pets.length}}
      <br>
      Company:   {{contact.company.name}}
    </li>
  {{/each}}
</ul>
