{{#link-to 'contacts.new'}}New Contact{{/link-to}}

<ul id="contacts">
  {{#each model as |contact|}}
    <li>
      {{#link-to 'contacts.contact' contact.id}}
        {{contact.name}}
      {{/link-to}}
      (<a href="" onclick={{action 'deleteContact' contact}}>Delete</a>)
    </li>
  {{/each}}
</ul>

{{outlet}}
